body {
/**	background-image: url("https://images.unsplash.com/photo-1457203112846-f9f76625f7c4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=49b14c281d9e3c799c16ce2e9eb561d1");
	background-repeat: no-repeat;
	background-size:cover;/**/
	background-color:black;
	font-family: 'lato', sans-serif;
	font-size:150px;
	color:white;

	text-align:center;
}

.title{
	margin-top:50px;
}

.buttons6 .title{
	padding-bottom:0px;
}

.buttons5 .title{
	padding-bottom:50px;
}

.buttons5 .btn{
	margin-bottom:60px;
}

.buttons6 .btn{
	margin-bottom:50px;
}

.btn {
	background-color: white;
	color: black;
	border-radius:10px;
/**	border-width:5px;/**/
	height:40px;
	padding-top:10px;
	padding-bottom:65px;
	font-size:40px;
	border:none;
}

.btn2 {
  font-size:default;
	font-weight:bold;
	background-color: grey;
	color: black;
	margin:10px;
	margin-bottom:20px;
	padding-left:10px;
	border-radius:10px;
/**/border-width:2px;/**/
	height:30px;
	padding-top:3px;
	padding-right:10px;
	font-size:15px;
	float:right;
}

.btn-primary.raised {
	box-shadow:none;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #888;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn:hover{
	/**
	background-color: #3385ff;
	/**/
	background-color:#888;
	color:black;
}

.container {
	padding-top:35px;
	max-width: 768px;
	font-size:50px;
}

.stretch {
	width: 100%;
}

h1 {

}

h2{
	font-family: 'lato', sans-serif;
	font-size:50px;
	margin-bottom:60px;
}
